<div style="padding-left: 100px;">
    <h1> Add Loan</h1>

<form [formGroup]="loanForm"(ngSubmit)="saveLoan()">
<label>BookId</label>
<input type="text" formControlName="bookId" >

<label>StudentId</label>
<input type="text" formControlName="studentId">

<label>CheckOutDate</label>
<input type="date" formControlName="checkoutDate">

<label>DueDate</label>
<input type="date" formControlName="dueDate">

<label>ReturnDate</label>
<input type="date" formControlName="returnDate">

<div *ngIf="loanForm.valid">
    <input type="submit" value="Save Loan">

</div>

</form>
</div>

<h3> Form status: {{loanForm.valid}}</h3>
<h3> Form json: {{loanForm.value | json}}</h3>